#menu {
	background-color: #fff;
	float: left;
	font-size: .8em;
	margin: 0 1em 0 0;
	padding: 0;
	width: 11em;
}

#menu li {
	display: block;
}

#menu li.submenu {
	padding-bottom: .5em;
}

#menu li a {
	color: #262626;
	display: block;
	position: relative;
	padding: .5em 1em;
	margin: 0;
	text-decoration: none;
}

#menu li a.current, #menu li a:hover.current {
	background-color: #262626;
	color: #fff;
}

#menu li a:hover {
	color: #113C61;
}

#menu li:hover {
}
